<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
</head>
<body>

  <h2>Name: <%= post.name %></h2>
  <p>BODY:<%= post.body %></p>
  <p>CATEGORIES:<%= post.categories %></p>
  <p>tags<%= post.tags %></p>
  <p>authors<%= post.authors %></p>
  <p>thumbnail <%= post.thumbnail %></p>
  <p>createdAt: <%= post.createdAt %></p>
  <p>updatedAt: <%= post.updatedAt %></p>
  
</body>
</html>